<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configuration</key>
	<array>
		<dict>
			<key>name</key>
			<string>size</string>
			<key>title</key>
			<string>Grid Sze</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>8</integer>
			<key>maxValue</key>
			<integer>100</integer>
			<key>default</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>raceCount</string>
			<key>title</key>
			<string>Number of Races</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>2</integer>
			<key>maxValue</key>
			<integer>5</integer>
			<key>default</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>popDensity</string>
			<key>title</key>
			<string>Population Density</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>100</integer>
			<key>default</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>zero</string>
			<key>title</key>
			<string>Cells with zero neighbors move?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>one</string>
			<key>title</key>
			<string>Cells with one neighbor demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>two</string>
			<key>title</key>
			<string>Cells with two neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>2</integer>
			<key>default</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>three</string>
			<key>title</key>
			<string>Cells with three neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>3</integer>
			<key>default</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>four</string>
			<key>title</key>
			<string>Cells with four neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>4</integer>
			<key>default</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>five</string>
			<key>title</key>
			<string>Cells with five neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>5</integer>
			<key>default</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>six</string>
			<key>title</key>
			<string>Cells with six neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>6</integer>
			<key>default</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>seven</string>
			<key>title</key>
			<string>Cells with seven neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>7</integer>
			<key>default</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>eight</string>
			<key>title</key>
			<string>Cells with eight neighbors demands n of same race?</string>
			<key>type</key>
			<string>Integer</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>8</integer>
			<key>default</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>statistics</key>
	<dict>
		<key>population</key>
		<dict>
			<key>keyPath</key>
			<string>population</string>
			<key>title</key>
			<string>Segregation</string>
			<key>singular</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
