<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configuration</key>
	<array>
		<dict>
			<key>name</key>
			<string>world</string>
			<key>title</key>
			<string>Initial State</string>
			<key>type</key>
			<string>Bitmap</string>
		</dict>
	</array>
	<key>statistics</key>
	<dict>
		<key>population</key>
		<dict>
			<key>keyPath</key>
			<string>population</string>
			<key>title</key>
			<string>Population</string>
			<key>singular</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
